<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Resource Share</title>
        <link rel="stylesheet" href="./style.css">
    </head>
    <body>
        <div class="app">
            <header class="header">
                <span class="header__logo"><a class="nav__link" href="/">Resource Share</a></span>
                <nav class="header__nav">
                    <ul class="nav__list">
                        <li class="nav__item"><a class="nav__link nav__link--active" href="/favourites">Favourites</a></li>
                        <li class="nav__item"><a class="nav__link" href="/add">Add</a></li>
                    </ul>
                </nav>
            </header>
            <main class="main-content">
                <ul class="articles">
                    <li class="article__item">{{route}}</li>
                    <li class="article__item"><a class="article__link" href="/">Link 1</a></li>
                    <li class="article__item"><a class="article__link" href="/">Link 1</a></li>
                    <li class="article__item"><a class="article__link" href="/">Link 1</a></li>
                    <li class="article__item"><a class="article__link" href="/">Link 1</a></li>
                </ul>
            </main>
        </div>
    </body>
</html>
